* {
    margin: 0;
}

.logo {
    height: 2em;
    padding: 1.5em;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 0em 4em;
    margin-bottom: 30px;
}

a {
    text-decoration: inherit;
    color: lightgray;
}

body {
    /*display: flex;
    place-items: center;*/
    min-width: 320px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    background: linear-gradient(
        90deg,
        rgba(21, 21, 22, 0) 0%,
        rgba(107, 106, 109, 0.08) 83.43%
    );
    border-bottom: 1px solid rgba(107, 106, 109, 0);
}

ul {
    display: flex;
    gap: 20px;
}
li {
    display: flex;
}
a {
    display: flex;
    gap: 10px;
}
main {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.first-title {
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    margin: 3em 35% 0em;
}

h1 span {
    background: linear-gradient(90deg, #00d066 10.2%, #9cff9c 47.84%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnStart {
    border-radius: 8px;
    border: transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(0, 208, 102, 0.1);
    cursor: pointer;
    color: #00d066;
}

.btnMore {
    border-radius: 8px;
    border: 1px solid #242424;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: transparent;
    color: white;
    padding: 0.6em 1em;
    margin-left: 10px;
}

.cta {
    width: 80%;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) -10%,
        transparent 100%
    );
}

.section1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.section1 h2 {
    background: linear-gradient(90deg, #00d066 10.2%, #9cff9c 47.84%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1 p {
    margin: 0px 0px 50px 0px;
}

.section2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
.section2 li {
    display: flex;
    flex-direction: column;
    height: 240px;
    border: 1px solid #242424;
    border-radius: 24px;
    padding: 24px;
    justify-content: space-between;
}

.section2 img {
    width: 10%;
}

.team {
    display: flex;
    justify-content: center;
    width: 100%;
}
.team img {
    width: 55%;
    object-fit: cover;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: max-content;
    border: 2px solid #00d066;
    border-radius: 24px;
    align-items: center;
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin: 80px 0px 200px;
    gap: 10px;
}
footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 0px 20%;
    color: #b3b3b3;
}
footer button {
    border-radius: 8px;
    border: transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(0, 208, 102, 0.1);
    cursor: pointer;
    color: #00d066;
    width: max-content;
}

footer h2 {
    background: linear-gradient(90deg, #00d066 10.2%, #9cff9c 47.84%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

footer h3 {
    font-size: 50px;
}
